<div class="hero-unit" id="twiggy-unit">
  <div id="headline-block">
    <div id="headline">
      <h3>HI, I'M SEAN,</h3>
      <h1>
        EDITOR.<br>
        FILMMAKER.<br>
        GRAPHIC DESIGNER.
      </h1>
      <div class="btn btn-primary btn-block twig-btn">Hire Me.</div>
    </div>
  </div>
  <div id="youtube">
    <iframe width="540" height="302" src="http://www.youtube.com/embed/6V9a_pc_F24?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
