<!-- ############################# Main Page ##############################-->
<div class="hero-unit" id="twiggy-unit" data-type="background" data-speed="10">
  <div id="youtube">
    <p>REEL.</p>
    <p class="bg-text">REEL.</p>
    <iframe width="540" height="302" src="http://www.youtube.com/embed/6V9a_pc_F24?feature=player_embedded" frameborder="0" 
    allowfullscreen></iframe>
  </div>
</div>
<!-- ########################## Wave Transition ###########################-->
<div class="wave-container">
  <div id="wave"><img src="/assets/wave_light.png"></div>
</div>
<div class="film" data-type="background" data-speed="10">
  <div class="row">
    <div class="span6">
      <iframe width="540" height="302" src="http://www.youtube.com/embed/TzJAuOJ8iKQ?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span6">
      <iframe width="540" height="302" src="http://www.youtube.com/embed/FdDwU2LNoBA?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
